.App {
  text-align: center;
}

nav  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(100, 128, 207);
  color: white;
}
.nav-links {
  width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
}

img {
  border-radius: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 100%;
}